.incidentes-ubicacion-header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 50px;
}

.incidentes-ubicacion-header-h2 {
  font-size: 24px;
  font-weight: lighter;
}

@media only screen and (max-width: 578px) {
  .incidentes-ubicacion-header {
    width: 300px;
  }
}